@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;700&family=Roboto&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 180px;
}

.logo {
  width: 100%;
  background-color: white;
  height: 100px;
  line-height: 100px;
}

.logo img {
  width: 100px;
  display: inline-block;
}
.logo img:hover {
  border: 2px solid white;
}

.name {
  font-family: "Overpass", sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #D49C0B;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: top;
}

.header-nav {
  width: 100%;
  background-color: black;
}

.menu {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 50px;
}
.menu .menu-item {
  display: block;
  float: left;
  margin-left: 10px;
  margin-right: 3em;
  text-transform: uppercase;
}
.menu .menu-item a {
  display: block;
  padding: 3px;
  text-decoration: none;
  color: white;
  transition: color 0.2s ease-in-out;
}
.menu .menu-item a:hover {
  color: #D49C0B;
}

.promo {
  width: 100%;
  height: 800px;
  background: url("./assets/image-bw.png");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.promo .cta {
  position: absolute;
  background-color: rgba(38, 38, 38, 0.8);
  border-radius: 2px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.promo .motto {
  font-size: 1.8em;
  font-variant: small-caps;
  color: white;
  text-align: center;
  padding-right: 20px;
}
.promo .btn {
  width: 160px;
  height: 35px;
  display: block;
  margin: 5% auto;
  border: none;
  border-radius: 2px;
  background-color: #D49C0B;
  font-family: "Overpass", sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
}
.promo .btn:hover {
  background-color: #A87C0A;
  border: none;
}
.promo .btn:focus {
  border: none;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=checkbox] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: black;
  color: white;
  padding: 0 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
  height: 25px;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.about {
  margin-top: 25px;
}
.about p {
  margin: 10px 0;
}

.founder {
  margin-top: 25px;
}
.founder .story p {
  margin: 10px 0;
}
.founder .story .quote {
  font-style: italic;
}
.founder img {
  width: 35%;
  margin: 3% 3%;
  float: left;
}

.contact {
  margin-top: 25px;
}
.contact p {
  margin: 10px 0;
}

.copyright {
  font-size: 0.8em;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
